<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doran.mapper.CameraMapper">


	<insert id="cameraInsert" parameterType="com.doran.entity.Camera">
        INSERT INTO tbl_camera (siCode, obsName, obsImg, sailNum, createdAt)
        VALUES (#{siCode}, #{obsName}, #{obsImg}, #{sailNum}, NOW())
    </insert>




</mapper>